<div class="container">
	<div class="todo">
		<todo-list
		[todos]="todoList"
		[editTodo]="editTodo"
		(data)="drag($event)"
		(completado)="cambiarElCampoCompletado($event)"
		(editarSimpleTodo)="editarSimpleTodo($event)"
		(nuevo)="crearNuevoTodo()"
		></todo-list>
	</div>
	<div class="historial" [style.display]="mostrarEdicionTodo">
		<ng-container>
			<form [formGroup]="formdata">
				<ul>
					<li>
						<h3>Titulo</h3>
						<input formControlName="titulo">
					</li>
					<li>
						<h3>Descripcion</h3>
						<textarea formControlName="descripcion" rows="4" cols="30"></textarea> 
					</li>
					<li>
						<button class="cancelar" (click)="cancelar()">Cancelar</button>
						<button class="guardar" (click)="guardar()">Guardar</button>
					</li>
				</ul>
			</form>
		</ng-container>
	</div>
</div>