@import "../../../styles.scss";
.container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	background-color: $azul-claro-e;
	overflow: hidden;
	.todo {
		width: 70%;
		margin-right: 30px
	}
	.historial {
		height: 100%;
		width: 25%;
		padding-right: 20px;
		form {
			ul {
				li {
					margin: 30px 0 30px 0;
					.guardar {
						float: right;
					}
					.input-boton, .select-boton{
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;
						margin: 2px 0 2px 0;
						select, input {
							width: 60%
						}
						button {
							width: 70px;
						}
					}
					.tagContenedor {
						display: flex;
						flex-direction: row;
						padding: 5px 0 5px 0;
						margin: 5px 0 5px 0;
						.tituloTag {
							margin: 0 5px 0 5px;
							background-color: white;
							width: auto;
							padding: 5px;
							box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
							border-radius: $borderRadius;
						}
					}
				}
			}
		}
	}

	.nuevo {
		display: none;
	}
	//Media query para moviles
	/* Smartphones (portrait) ----------- */
	@media only screen and (max-width : 768px) {
		flex-direction: column;
		width: 100%;
		.todo {
			width: 100%;
			margin-right: 0px;
		}
		.historial {
			width: 50%;
			background-color: $azul-claro-e;
			color: black;
			right: auto;
			top: 0;
			bottom: 0;
			right: 0;
			position: absolute;
			z-index: 3;
			height: 100%;
			padding-left: 20px;
		}
		.nuevo {
			z-index: 1;
			bottom: 0;
			right: 0;
			position: absolute;
			background-color: $azul-claro-c;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 20px 20px 0;
		}
	}
}