<div class="container">
	<div class="todo">
		<todo-list
		[todos]="todoList"
		[editTodo]="editTodo"
		(data)="drag($event)"
		(completado)="cambiarElCampoCompletado($event)"
		(editarSimpleTodo)="editarSimpleTodo($event)"
		(nuevo)="crearNuevoTodo()"
		(eliminar)="eliminarTodo($event)"
		></todo-list>
	</div>
	<div class="historial" [style.display]="mostrarEdicionTodo">
		<ng-container>
			<form [formGroup]="formdata">
				<ul>
					<li>
						<h3>Titulo</h3>
						<input formControlName="titulo">
					</li>
					<li>
						<h3>Descripcion</h3>
						<textarea formControlName="descripcion" rows="4" cols="30"></textarea> 
					</li>
					<li *ngIf="formdata.get('id').value !== null">
						<h3>Tag</h3>
						<div class="tagContenedor">
							<div class="tituloTag" *ngFor="let tag of tagDelTodo; let i = index">
								<div>
									{{tag.titulo}}
								</div>
								<div class="iconoCerrar" (click)="eliminarEnlaceTagTodo(tag, i)">
									<i class="icono-cerrar"></i>
								</div>
							</div>
						</div>
						<!-- <div class="input-boton">
							<input type="text" #inputNuevoTag>
							<button class="cancelar" (click)="crearYEnlazarTagConTodo(inputNuevoTag.value)">+ Tag</button>
							<button class="cancelar" [hidden]="true"></button>
						</div>
						<div class="select-boton">
							<select #tag>
								<option *ngFor="let tag of tagList">{{tag.titulo}}</option>
							</select>
							<button class="cancelar" (click)="eliminarTagDelDesplegable(tag.selectedIndex)">X</button>
							<button class="cancelar" (click)="enlazarTagConTodo(tag.selectedIndex)">+</button>
						</div> -->
						<button (click)="abrirModal()">ABRIR</button>
					</li>
					<li>
						<button class="cancelar" (click)="cancelar()">Cancelar</button>
						<button class="guardar" (click)="guardar()">Guardar</button>
					</li>
				</ul>
			</form>
		</ng-container>
	</div>
	<modal-tag-component (enlazarTagconTodo)="enlazarTagconTodo($event)" #tagModal></modal-tag-component>
</div>