$borderRadius: 5px;
$sombraBorde: 0 4px 6px -1px rgba(0, 0, 0, 0.2),0 2px 4px -1px rgba(0, 0, 0, 0.06);
$rojo-d: #FEB2B2;
$azul-claro-d: #DCEBFA;
:host {
	width: 200px;
	height: 150px;
	border-radius: $borderRadius;
	box-shadow: $sombraBorde;
	display: flex;
	flex-direction: column;
	background-color: white;
	overflow: hidden;
	padding: 5px;
	margin: 5px;
	.contenido {
		height: 90%;
	}
	.botones {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		bottom: 0;
	}
	button{
		color: black;
		border-radius: $borderRadius;
		box-shadow: $sombraBorde;
		border: unset;
		border-color: unset;
		background-color: unset;
	}
	.eliminar:hover{
		background-color: $rojo-d;
	}
	.guardar:hover{
		background-color: $azul-claro-d;
	}
}