$borderRadius: 5px;
$sombraBorde: 0 4px 6px -1px rgba(0, 0, 0, 0.2),0 2px 4px -1px rgba(0, 0, 0, 0.06);
:host {
	width: 200px;
	height: 150px;
	border-radius: $borderRadius;
	box-shadow: $sombraBorde;
	display: flex;
	flex-direction: row;
	background-color: white;
	overflow: hidden;
	padding: 5px;
	margin: 5px;
}