<!-- The Modal -->
<div id="myModal" class="modal" [style.display]="estadoModal">

	<!-- Modal content -->
	<div class="modal-content">
		<div class="boton-cerrar">
			<div (click)="cambiarEstadoModal(true)" class="close">&times;</div>
		</div>
		<div class="modal-container">
			<div class="columna-modal">
				<h3>Crear un nuevo Tag y asignarlo al Todo actual</h3>
				<input type="text" #inputNuevoTag>
				<button class="cancelar" (click)="crearTagNuevo(inputNuevoTag.value)">+ Tag</button>
			</div>
			<div class="columna-modal">
				<h3>Asignar un Tag de la lista al Todo actual</h3>
				<section>
					<div class="lista-tag" *ngFor="let tag of tagList">
						<span (click)="enlazarTagConTodo(tag)">
							{{tag.titulo}}
						</span>
						<button class="anyadir" (click)="enlazarTagConTodo(tag)">
							<i class="icono-plus"></i>
						</button>						
						<button class="garbage" (click)="eliminarTagDelDesplegable(tag)">
							<i class="icono-papelera"></i>
						</button>
					</div>
				</section>
			</div>
		</div>
	</div>
	
</div>