<div class="container">
	<div class="proyecto">
		<div *ngFor="let proyecto of proyectos">
			<proyecto-component [proyecto]="proyecto" (proyectoSeleccionado)="proyectoSeleccionado($event)" (eliminarProyecto)="eliminarProyecto($event)"></proyecto-component>
		</div>
	</div>
	<div class="historial" [style.display]="mostrarNuevoHistorial">
		<ng-container>
			<form [formGroup]="formularioNuevoProyecto">
				<ul>
					<li>
						<h3>Titulo</h3>
						<input formControlName="titulo">
					</li>
					<li>
						<button class="cancelar" (click)="cancelar()">Cancelar</button>
						<button class="guardar" (click)="guardar()">Guardar</button>
					</li>
				</ul>
			</form>
		</ng-container>
	</div>
	<div class="nuevo">
		<button (click)="nuevoProyecto()">
			<i class="icono-nuevo"></i>
		</button>
	</div>
</div>