@import "./variables.scss";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}
//SVG
#todo_icon{
	height: 60px;
}
#completado_icon , #no_completado_icon, #drag_icon, #garbage_icon, #arrow_icon{
	height: 25px;
	width: 25px;
}
#arrow_background_color {
	fill: white;
}
//Estilos en especifico para el icono de la papelera ya que cuando se hace un drag and drop se rompe
.contenedor-garbage-icon {
	height: 25px;
	width: 25px;
	// #garbage_icon {
	// 	height: 25px;
	// 	width: 25px;
	// }
}
//Esto se pone asi para que cuando selecciono un TODO, los SVG mantengan la altura y la anchura
.cdk-drag-preview > ul > li > .item > svg{
	height: 25px;
	width: 25px;
}

//Forms
input {
	border: $borderWidth solid #A5D2F0;
	border-radius: 5px;
	width: 100%;
	height: 30px;
	box-shadow: $sombraBorde;
	padding-left: 12px;
	box-sizing:border-box;
	background-color: white;
	&:focus {
		box-sizing:border-box;
		border: $borderWidth solid $azul-claro-c;
		padding-left: 12px;
	}
}
textarea {
	border: $borderWidth solid #A5D2F0;
	border-radius: 5px;
	width: 100%;
	box-shadow: $sombraBorde;
	padding-left: 12px;
	padding-top: 12px;
	box-sizing:border-box;
	background-color: white;
	&:focus {
		box-sizing:border-box;
		padding-left: 12px;
		padding-top: 12px;
		border: $borderWidth solid $azul-claro-c;
	}
}
//Botones
button {
	padding-left: 1rem !important;
	padding-right: 1rem !important;
	border-radius: $borderRadius;
	line-height: inherit;
	height: 42px;
	border: none;
	cursor: pointer;
}
.guardar {
	background-color: #4191D7;
	color: white
}
.cancelar {
	color: #4191D7;
	background-color: white;
	border: $borderWidth solid $azul-claro-c;
}
.eliminar {
	color: $azul-claro-a;
	background-color: white;
	border: $borderWidth solid $rojo-b;
}

//FUENTES
//Fuente para titulos
@font-face {font-family: "Formular";
    src: url("http://db.onlinewebfonts.com/t/419fa9c2bf7fadf2bd9edecfe4d8c936.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/419fa9c2bf7fadf2bd9edecfe4d8c936.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/419fa9c2bf7fadf2bd9edecfe4d8c936.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/419fa9c2bf7fadf2bd9edecfe4d8c936.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/419fa9c2bf7fadf2bd9edecfe4d8c936.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/419fa9c2bf7fadf2bd9edecfe4d8c936.svg#Formular") format("svg"); /* iOS 4.1- */
}
//Fuentes para todo lo otro
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
html {
	font-family: 'Nunito', sans-serif;
}
input, textarea {
	font-family: 'Nunito', sans-serif;
	font-size: 13px;
}
.fontfamily-nunito{
	font-family: 'Nunito', sans-serif;
}
.fontfamily-formular{
	font-family: 'Formular', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	@extend .fontfamily-formular;
}