$azul-oscuro-a: #0F2837;
$azul-oscuro-b: #143C5F;
$azul-oscuro-c: #184F77;
$azul-oscuro-d: #1D5E9A;
$azul-oscuro-e: #2378B9;
$azul-claro-a: #4191D7;
$azul-claro-b: #6DAEE0;
$azul-claro-c: #A5D2F0;
$azul-claro-d: #DCEBFA;
$azul-claro-e: #EBF5FF;
$rojo-a: #E53E3E;
$rojo-b: #F56565;
$rojo-c: #FC8181;
$rojo-d: #FEB2B2;
$rojo-e: #FED7D7;
$verde-a: #38A169;
$verde-b: #48BB78;
$verde-c: #68D391;
$verde-d: #9AE6B4;
$verde-e: #C6F6D5;
$amarillo-a: #D69E2E;
$amarillo-b: #ECC94B;
$amarillo-c: #F6E05E;
$amarillo-d: #FAF089;
$amarillo-e: #FEFCBF;