@import "../../styles.scss";
.container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	.navegacion {
		height: 100%;
		width: 10%;
		margin: 5px;
		background-color: $azul-oscuro-a;
		.item {
			display: flex;
			justify-content: center;
			background-color: $azul-claro-e;
		}
	}
	.todo {
		border: 1px solid black;
		height: 100%;
		width: 70%;
		.centro-container {
			div > .fila{
				border: 1px solid black;
			}
		}
	}
	.historial {
		border: 1px solid black;
		height: 100%;
		width: 20%;
	}
}