.container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	.navegacion {
		border: 1px solid black;
		height: 100%;
		width: 40px;
	}
	.todo {
		border: 1px solid black;
		height: 100%;
		width: 80%;
		.centro-container {
			div > .fila{
				border: 1px solid black;
			}
		}
	}
	.historial {
		border: 1px solid black;
		height: 100%;
		width: 20%;
	}
}